@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #1d1c1c;
}
body h1 {
  color: #f0f8ff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 20px;
  padding-top: 55px;
  font-size: 2.1rem;
}
body h2 {
  padding-bottom: 40px;
  color: #f0f8ff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 20px;
  padding-top: 55px;
  padding-bottom: 40px;
}
body h3 {
  color: #f0f8ff;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding: 20px;
}
body p {
  color: #f0f8ff;
  font-family: "Open Sans", sans-serif;
}
body a {
  color: #f0f8ff;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
body .contacto {
  width: 200px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 40px;
  align-content: center;
}

header ul {
  list-style: none;
  padding: 20px;
  font-size: 1.5rem;
}
header li {
  display: inline-block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}
header li:hover {
  border-bottom: solid darkred 4px;
}
header ul ul {
  position: absolute;
  display: none;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .seccionContacto {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.6fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "hombre textoContacto mujer" "hombre botonUno mujer";
  background-image: url(../img/patronContacto.png);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
main .seccionContacto .hombre {
  grid-area: hombre;
}
main .seccionContacto .textoContacto {
  grid-area: textoContacto;
}
main .seccionContacto .botonUno {
  grid-area: botonUno;
}
main .seccionContacto .mujer {
  grid-area: mujer;
}
main .seccionContacto span {
  display: flex;
  justify-content: center;
}
main .seccionContacto .imagenContacto {
  width: 300px;
  padding: 20 px;
  margin: 10px;
  padding-top: 50px;
}
main .textoQuienes {
  width: 1100px;
}
main .imagenQuienes {
  width: 400px;
  height: auto;
}
main .nuestrosClientes {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "opinionUno opinionDos opinionTres";
  margin-bottom: 40px;
}
main .nuestrosClientes .opinionUno {
  width: 300px;
  background-color: #470101;
  border-radius: 10px;
  border: #ffffff solid 2px;
  margin-left: 20px;
  margin-right: 20px;
  grid-area: opinionUno;
}
main .nuestrosClientes .opinionDos {
  width: 300px;
  background-color: #470101;
  border-radius: 10px;
  border: #ffffff solid 2px;
  margin-left: 20px;
  margin-right: 20px;
  grid-area: opinionDos;
}
main .nuestrosClientes .opinionTres {
  width: 300px;
  background-color: #470101;
  border-radius: 10px;
  border: #ffffff solid 2px;
  margin-left: 20px;
  margin-right: 20px;
  grid-area: opinionTres;
}
main .nuestrosClientes p {
  padding: 10px;
  margin: 5px;
}
main .nuestrosClientes .rolling {
  width: 200px;
  border: none;
  border-radius: 2%;
  padding: 20px;
  margin: 10px;
  padding-top: 40px;
}
main .nuestrosClientes .emetres {
  width: 150px;
  border: none;
  border-radius: 50%;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
}
main .nuestrosClientes .amtae {
  width: 180px;
  border: none;
  border-radius: 0%;
  padding: 20px;
  margin: 10px;
  margin-top: 75px;
  margin-bottom: 50px;
}
main .seccionCert {
  background-color: #470101;
  min-width: 100%;
}
main .seccionCert .textoCert {
  width: 1000px;
  padding: 10px;
  margin-left: 250px;
}
main .seccionCert .logosCert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
main .seccionCert .logosCert .certificacionMeta {
  width: 200px;
  padding: 20 px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}
main .seccionCert .logosCert .certificacionGoogle {
  width: 150px;
  padding: 20 px;
  margin: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.tituloServicios {
  height: 250px;
  background-image: url(../img/servicios.png);
  background-repeat: no-repeat;
  background-position: top;
  align-items: center;
  min-width: 100%;
  justify-content: center;
}
.tituloServicios .flechaAbajo {
  width: 100px;
  transition: all 1s;
}
.tituloServicios .flechaAbajo:hover {
  transform: translate(0px, 20px);
}

.nuestrosServicios {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 0.5fr);
  gap: 0px 0px;
  grid-template-areas: "textoConsultoria consultoria" "redesSociales textoRedes " "textoDiseño diseñoWeb" "emailing textoMailing";
}
.nuestrosServicios .consultoria {
  grid-area: consultoria;
  margin-top: 100px;
  padding-top: 50px;
}
.nuestrosServicios .textoConsultoria {
  grid-area: textoConsultoria;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nuestrosServicios .textoRedes {
  grid-area: textoRedes;
  display: flex;
  flex-direction: column;
}
.nuestrosServicios .redesSociales {
  grid-area: redesSociales;
}
.nuestrosServicios .textoDiseño {
  grid-area: textoDiseño;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.nuestrosServicios .diseñoWeb {
  grid-area: diseñoWeb;
  width: 300px;
}
.nuestrosServicios .textoMailing {
  grid-area: textoMailing;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin: 20px;
}
.nuestrosServicios .emailing {
  grid-area: emailing;
  width: 300px;
  padding-bottom: 20px;
}
.nuestrosServicios p {
  width: 500px;
}
.nuestrosServicios img {
  margin: 10px;
  padding: 10px;
  margin-left: 100px;
}
.nuestrosServicios .imagenServicio {
  width: 350px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
}
.nuestrosServicios h2 {
  margin-top: 50px;
}

.contactoServicios {
  background-color: #470101;
  min-width: 100%;
  height: 250px;
}

.nuestrosTrabajos {
  background-image: url(../img/fondoCert.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  min-width: 100%;
}

.hombreTrabajos {
  width: 300px;
  padding: 5px;
}

.clientes {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: "clienteUno" "clienteDos" "clienteTres";
  margin-top: 40px;
}
.clientes .clienteUno {
  grid-area: clienteUno;
  display: flex;
  align-items: center;
  border: #ffffff solid 2px;
  border-radius: 10px;
  background-color: #470101;
  margin: 20px;
}
.clientes .clienteDos {
  grid-area: clienteDos;
  display: flex;
  align-items: center;
  border: #ffffff solid 2px;
  border-radius: 10px;
  background-color: #470101;
  margin: 20px;
}
.clientes .clienteTres {
  grid-area: clienteTres;
  display: flex;
  align-items: center;
  border: #ffffff solid 2px;
  border-radius: 10px;
  background-color: #470101;
  margin: 20px;
}
.clientes .logoCliente {
  width: 200px;
  padding: 20px;
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
.clientes .logoClienteDos {
  border-radius: 50%;
  width: 200px;
  padding: 20px;
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
.clientes .logoClienteTres {
  border-radius: 50%;
  width: 200px;
  padding: 20px;
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
.clientes .trabajoCliente {
  width: 700px;
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border: #ffffff solid 2px;
}

.bannerBlog {
  background-image: url(../img/patronBlog.png);
  height: 400px;
  min-width: 100%;
  background-repeat: repeat;
  background-size: contain;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas: "imagenBlog tituloBlog" "imagenBlog textoBlog";
  align-items: center;
  justify-content: center;
}
.bannerBlog .imagenBlog {
  grid-area: imagenBlog;
  width: 300px;
  margin: 30px;
  margin-left: 100px;
}
.bannerBlog .tituloBlog {
  grid-area: tituloBlog;
  padding: 30px;
  margin-top: 60px;
  margin-right: 300px;
}
.bannerBlog .textoBlog {
  grid-area: textoBlog;
  width: 800px;
  margin-bottom: 70px;
}

.notas {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 60px;
  grid-template-areas: "notaUno notaDos";
  align-items: center;
  margin-bottom: 40px;
}
.notas .notaUno {
  grid-area: notaUno;
}
.notas .notaDos {
  grid-area: notaDos;
}
.notas .tarjetaTexto {
  margin: 0px;
}

.cuerpo {
  background-color: #470101;
  display: grid;
  grid-auto-columns: 2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.3fr 0.7fr;
  gap: 0px;
  grid-template-areas: "imagenFormulario formularioContacto" "tituloFormulario formularioContacto" "textoFormulario formularioContacto";
  font-family: "Open Sans", sans-serif;
}
.cuerpo .imagenFormulario {
  width: 250px;
  grid-area: imagenFormulario;
  margin-left: 300px;
  padding: 0px;
}
.cuerpo .tituloFormulario {
  grid-area: tituloFormulario;
  padding: 0px;
  width: 400px;
  margin-left: 200px;
  margin-top: 0px;
  font-size: 2rem;
}
.cuerpo .textoFormulario {
  grid-area: textoFormulario;
  width: 600px;
  font-size: 0.9rem;
  display: flex;
  align-content: flex-start;
  margin-left: 118px;
  margin-bottom: 100px;
}
.cuerpo .formularioContacto {
  grid-area: formularioContacto;
  margin-left: 20px;
}
.cuerpo .form-floating {
  width: 500px;
  margin-top: 15px;
}
.cuerpo .form-select {
  width: 505px;
  margin-left: 9px;
}
.cuerpo #formGroupExampleInput3 {
  margin-left: 9px;
}
.cuerpo .form-control {
  width: 500px;
}

footer {
  height: 30px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.1fr 0.9fr 1fr 0.9fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: "tituloFooter tituloFooter logoFooter redes" "contactoTelefono telefono logoFooter redes" "contactoMail mail logoFooter redes";
}
footer .tituloFooter {
  grid-area: tituloFooter;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 60px;
}
footer .contactoTelefono {
  grid-area: contactoTelefono;
  display: flex;
  align-content: flex-start;
  width: 20px;
  height: 20px;
  padding-left: 60px;
}
footer .telefono {
  grid-area: telefono;
  padding-left: 10px;
}
footer .contactoMail {
  grid-area: contactoMail;
  width: 20px;
  height: 20px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer .mail {
  grid-area: mail;
  padding-top: 10px;
  padding-left: 10px;
}
footer .logoFooter {
  grid-area: logoFooter;
  width: 100px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 150px;
}
footer .redes {
  grid-area: redes;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
footer .redes .iconos {
  width: 50px;
  padding: 5px;
  margin: 5px;
}
footer .redes .whatsapp {
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  body h1 {
    padding: 20px;
    padding-top: 20px;
    font-size: 1.5rem;
  }
  body h2 {
    padding-bottom: 40px;
    color: #f0f8ff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 20px;
    padding-top: 55px;
    padding-bottom: 20px;
  }
  body h3 {
    color: #f0f8ff;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding: 20px;
  }
  body p {
    color: #f0f8ff;
    font-family: "Open Sans", sans-serif;
  }
  body a {
    color: #f0f8ff;
    text-decoration: none;
    list-style: none;
    text-align: center;
  }
  body .contacto {
    width: 120px;
    height: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 20px;
    align-content: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  main .seccionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
    align-items: center;
    justify-content: center;
  }
  main .seccionContacto .imagenContacto {
    width: 50%;
  }
  main .seccionContacto .textoContacto {
    font-size: 1.3rem;
    width: 88%;
    text-align: center;
    margin-bottom: 0px;
  }
  main .seccionContacto .hombre {
    visibility: hidden;
  }
  main .seccionContacto .mujer {
    visibility: hidden;
  }
  main .textoQuienes {
    width: 90%;
  }
  main .imagenQuienes {
    width: 50%;
  }
  main .nuestrosClientes {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "opinionUno" "opinionDos" "opinionTres";
    margin-bottom: 40px;
  }
  main .nuestrosClientes .opinionUno {
    width: 300px;
    background-color: #470101;
    border-radius: 10px;
    border: #ffffff solid 2px;
    margin-left: 20px;
    margin-right: 20px;
    grid-area: opinionUno;
    margin-bottom: 20px;
  }
  main .nuestrosClientes .opinionDos {
    width: 300px;
    background-color: #470101;
    border-radius: 10px;
    border: #ffffff solid 2px;
    margin-left: 20px;
    margin-right: 20px;
    grid-area: opinionDos;
    margin-bottom: 20px;
  }
  main .nuestrosClientes .opinionTres {
    width: 300px;
    background-color: #470101;
    border-radius: 10px;
    border: #ffffff solid 2px;
    margin-left: 20px;
    margin-right: 20px;
    grid-area: opinionTres;
  }
  main .nuestrosClientes p {
    padding: 10px;
    margin: 5px;
  }
  main .nuestrosClientes .rolling {
    width: 200px;
    border: none;
    border-radius: 2%;
    padding: 20px;
    margin: 10px;
    padding-top: 40px;
  }
  main .nuestrosClientes .emetres {
    width: 150px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
  }
  main .nuestrosClientes .amtae {
    width: 180px;
    border: none;
    border-radius: 0%;
    padding: 20px;
    margin: 10px;
    margin-top: 75px;
    margin-bottom: 50px;
  }
  main .seccionCert {
    background-color: #470101;
    min-width: 99%;
    align-items: center;
  }
  main .seccionCert .textoCert {
    width: 85%;
    margin-left: 10px;
  }
  main .seccionCert .logosCert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  main .seccionCert .logosCert .certificacionMeta {
    width: 100px;
    padding: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 40px;
  }
  main .seccionCert .logosCert .certificacionGoogle {
    width: 100px;
    padding: 20px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  .tituloServicios {
    height: 200px;
    min-width: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  .tituloServicios .flechaAbajo {
    width: 80px;
  }
  .nuestrosServicios {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 0px 0px;
    grid-template-areas: "textoConsultoria" "consultoria" "textoRedes " "redesSociales" "textoDiseño " "diseñoWeb" "textoMailing" "emailing";
  }
  .nuestrosServicios .consultoria {
    margin-top: 0px;
    padding-top: 0px;
    width: 90%;
  }
  .nuestrosServicios .textoConsultoria,
  .nuestrosServicios .textoRedes,
  .nuestrosServicios .textoDiseño,
  .nuestrosServicios .textoMailing {
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .nuestrosServicios .diseñoWeb,
  .nuestrosServicios .emailing,
  .nuestrosServicios .redesSociales {
    width: 50%;
    margin: 0 auto;
  }
  .nuestrosServicios p {
    width: 90%;
    margin: 0 auto;
  }
  .nuestrosServicios img {
    margin-left: 0;
    width: 70%;
  }
  .nuestrosServicios .imagenServicio {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .nuestrosServicios h2 {
    margin-top: 20px;
  }
  .nuestrosTrabajos {
    height: 280px;
    min-width: 100%;
  }
  .hombreTrabajos {
    width: 50%;
  }
  .clientes .trabajoCliente {
    width: 90%;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
  }
  .clientes .logoCliente {
    width: 40%;
    margin: 0 auto;
  }
  .clientes .logoClienteDos,
  .clientes .logoClienteTres {
    width: 30%;
    margin: 0 auto;
  }
  .clientes .clienteUno,
  .clientes .clienteDos,
  .clientes .clienteTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bannerBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bannerBlog .imagenBlog {
    width: 30%;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
  }
  .bannerBlog .tituloBlog {
    margin-top: 0px;
    margin-right: 10px;
    padding: 0;
  }
  .bannerBlog .textoBlog {
    width: 85%;
    margin-bottom: 20px;
    text-align: center;
  }
  .notas {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "notaUno" "notaDos";
  }
  .notas .notaUno,
  .notas .notaDos {
    width: 290px;
    margin: auto;
  }
  .notas .notaUno .imagenNota,
  .notas .notaDos .imagenNota {
    width: 287px;
  }
  .cuerpo {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .cuerpo .imagenFormulario {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .cuerpo .tituloFormulario {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
  }
  .cuerpo .textoFormulario {
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }
  .cuerpo .formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .cuerpo .form-floating {
    width: 300px;
    margin-top: 15px;
    position: relative;
    margin-right: 18px;
  }
  .cuerpo .form-select {
    width: 306px;
    position: relative;
    margin-right: 5px;
  }
  .cuerpo #formGroupExampleInput3 {
    margin-left: 9px;
    margin-bottom: 0px;
    position: relative;
  }
  .cuerpo .form-control {
    width: 300px;
    position: relative;
  }
  footer {
    height: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-template-areas: "tituloFooter tituloFooter logoFooter" "contactoTelefono telefono logoFooter" "contactoMail mail logoFooter" "redes redes redes";
  }
  footer .tituloFooter {
    grid-area: tituloFooter;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 60px;
  }
  footer .contactoTelefono {
    grid-area: contactoTelefono;
    display: flex;
    align-content: flex-start;
    width: 20px;
    height: 20px;
    padding-left: 60px;
  }
  footer .telefono {
    grid-area: telefono;
    padding-left: 10px;
  }
  footer .contactoMail {
    grid-area: contactoMail;
    width: 20px;
    height: 20px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  footer .mail {
    grid-area: mail;
    padding-top: 10px;
    padding-left: 10px;
  }
  footer .logoFooter {
    grid-area: logoFooter;
    width: 100px;
    margin: 10px;
    padding-top: 20px;
    padding-left: 30px;
  }
  footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  footer .redes .iconos {
    width: 50px;
    padding: 5px;
    margin: 10px;
  }
  .contactoServicios {
    min-width: 99%;
    height: 200px;
  }
  .contactoServicios .trabajemosJuntos {
    margin-bottom: 20px;
  }
  .contactoServicios .contacto {
    width: 150px;
    height: 50px;
  }
}

/*# sourceMappingURL=estilo.css.map */
