main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .seccionContacto {
        display: grid;
        grid-template-columns: 0.6fr 1.8fr 0.6fr;
        grid-template-rows: 0.6fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
            "hombre textoContacto mujer"
            "hombre botonUno mujer";
        background-image: url(../img/patronContacto.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        .hombre {
            grid-area: hombre;
        }
        .textoContacto {
            grid-area: textoContacto;
        }
        .botonUno {
            grid-area: botonUno;
        }
        .mujer {
            grid-area: mujer;
        }
        span {
            display: flex;
            justify-content: center;
        }
        .imagenContacto {
            width: 300px;
            padding: 20 px;
            margin: 10px;
            padding-top: 50px;
        }
    }
    .textoQuienes {
        width: 1100px;

    }
    .imagenQuienes {
        width: 400px;
        height: auto;
    }
    .nuestrosClientes {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "opinionUno opinionDos opinionTres";
        margin-bottom: 40px;
        .opinionUno {
            @include opiniones;
            grid-area: opinionUno;
        }
        .opinionDos {
            @include opiniones;
            grid-area: opinionDos;
        }
        .opinionTres {
            @include opiniones;
            grid-area: opinionTres;
        }
        p {
            padding: 10px;
            margin: 5px;
        }
        .rolling {
            width: 200px;
            border: none;
            border-radius: 2%;
            padding: 20px;
            margin: 10px;
            padding-top: 40px;
        }
        .emetres {
            width: 150px;
            border: none;
            border-radius: 50%;
            padding: 20px;
            margin: 10px;
            margin-top: 30px;
        }
        .amtae {
            width: 180px;
            border: none;
            border-radius: 0%;
            padding: 20px;
            margin: 10px;
            margin-top: 75px;
            margin-bottom: 50px;
        }
    }
    .seccionCert {
        background-color: $bordo;
        min-width: 100%;
        .textoCert {
            width: 1000px;
            padding: 10px;
            margin-left: 250px;
        }
        .logosCert {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            .certificacionMeta {
                width: 200px;
                padding: 20 px;
                padding-left: 40px;
                padding-right: 40px;
                margin: 10px;
            }
            .certificacionGoogle {
                width: 150px;
                padding: 20 px;
                margin: 10px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}
.tituloServicios {
    height: 250px;
    background-image: url(../img/servicios.png);
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    .flechaAbajo {
        width: 100px;
        transition: all 1s;
        &:hover {
            transform: translate(0px, 20px);
        }
    }
}
.nuestrosServicios {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    gap: 0px 0px;
    grid-template-areas:
        "textoConsultoria consultoria"
        "redesSociales textoRedes "
        "textoDiseño diseñoWeb"
        "emailing textoMailing";
    .consultoria {
        grid-area: consultoria;
        margin-top: 100px;
        padding-top: 50px;
    }
    .textoConsultoria {
        grid-area: textoConsultoria;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textoRedes {
        grid-area: textoRedes;
        display: flex;
        flex-direction: column;
    }
    .redesSociales {
        grid-area: redesSociales;
    }
    .textoDiseño {
        grid-area: textoDiseño;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .diseñoWeb {
        grid-area: diseñoWeb;
        width: 300px;
    }
    .textoMailing {
        grid-area: textoMailing;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        margin: 20px;
    }
    .emailing {
        grid-area: emailing;
        width: 300px;
        padding-bottom: 20px;
    }
    p {
        width: 500px;
    }
    img{
        margin: 10px;
        padding: 10px;
        margin-left: 100px;
    }
    .imagenServicio {
        width: 350px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 10px;
    }
    h2{
        margin-top: 50px;
    }
}
.contactoServicios {
    background-color: $bordo;
    min-width: 100%;
    height: 250px;
}
.nuestrosTrabajos {
    background-image: url(../img/fondoCert.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
    min-width: 100%;
}
.hombreTrabajos {
    width: 300px;
    padding: 5px;
}
.clientes {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "clienteUno"
        "clienteDos"
        "clienteTres";
    margin-top: 40px;
    .clienteUno {
        grid-area: clienteUno;
        @include clientes;
    }  
    .clienteDos {
        grid-area: clienteDos;
        @include clientes;
    }
    .clienteTres {
        grid-area: clienteTres;
        @include clientes;
    }
    .logoCliente {
        @include logoClientes;
    }
    .logoClienteDos {
        border-radius: 50%;
        @include logoClientes;
    }
    .logoClienteTres{
        border-radius: 50%;
        @include logoClientes;
    }
    .trabajoCliente {
        width: 700px;
        margin: 20px;
        margin-left: 80px;
        margin-right: 80px;
        border: #ffffff solid 2px;
    }
}
.bannerBlog {
    background-image: url(../img/patronBlog.png);
    height: 400px;
    min-width: 100%;
    background-repeat: repeat;
    background-size: contain;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "imagenBlog tituloBlog"
        "imagenBlog textoBlog";
    align-items: center;
    justify-content: center;
    .imagenBlog {
        grid-area: imagenBlog;
        width: 300px;
        margin: 30px;
        margin-left: 100px;
    }
    .tituloBlog {
        grid-area: tituloBlog;
        padding: 30px;
        margin-top: 60px;
        margin-right: 300px;
    }
    .textoBlog {
        grid-area: textoBlog;
        width: 800px;
        margin-bottom: 70px;
    }
}
.notas {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    grid-template-areas:
        "notaUno notaDos";
    align-items: center;
    margin-bottom: 40px;
    .notaUno {
        grid-area: notaUno;
    }
    .notaDos {
        grid-area: notaDos;
    }
}
.cuerpo {
    background-color: $bordo;
    display: grid;
    grid-auto-columns: 2fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.3fr 0.7fr;
    gap: 0px;
    grid-template-areas:
        "imagenFormulario formularioContacto"
        "tituloFormulario formularioContacto"
        "textoFormulario formularioContacto";
    font-family: "Open Sans", sans-serif;
    .imagenFormulario {
        width: 250px;
        grid-area: imagenFormulario;
        margin-left: 200px;
        padding: 0px;
    }
    .tituloFormulario {
        grid-area: tituloFormulario;
        padding: 0px;
        width: 400px;
        margin-left: 100px;
        margin-top: 0px;
        font-size: 2rem;
    }
    .textoFormulario {
        grid-area: textoFormulario;
        width: 600px;
        font-size: 0.9rem;
        display: flex;
        align-content: flex-start;
        margin-left: 18px;
        margin-bottom: 100px;
    }
    .formularioContacto {
        grid-area: formularioContacto;
        margin-left: 20px;
    }
    .form-floating {
        width: 400px;
        margin-top: 15px;
    }
    .form-select {
        width: 400px;
        margin-left: 9px;
    }
    .origen {
        margin-top: 15px;
    }
    #formGroupExampleInput3 {
        margin-left: 9px;
    }
    .form-control {
        width: 400px;
    }
    .empresa {
        margin-bottom: 40px;
    }
}