@media screen and (max-width: 768px) {
    body {
        h1 {
            padding: 20px;
            padding-top: 20px;
            font-size: 1.5rem;
        }
        h2 {
            padding-bottom: 40px;
            color: $blanco;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            padding: 20px;
            padding-top: 55px;
            padding-bottom: 20px;
        }
        h3 {
            color: $blanco;
            font-family: "Open Sans", sans-serif;
            text-align: left;
            padding: 20px;
        }
        p {
            color: $blanco;
            font-family: "Open Sans", sans-serif;
        }
        a {
            color: $blanco;
            text-decoration: none;
            list-style: none;
            text-align: center;
        }
        .contacto {
            width: 120px;
            height: 30px;
            font-family: "Open Sans", sans-serif;
            font-size: 1rem;
            font-weight: bold;
            margin: 20px;
            align-content: center;
        }
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .seccionContacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 250px;
            align-items: center;
            justify-content: center;
            .imagenContacto {
                width: 50%;
            }
            .textoContacto {
                font-size: 1.3rem;
                width: 88%;
                text-align: center;
                margin-bottom: 0px;
            }
            .hombre{
                visibility: hidden;
            }
            .mujer{
                visibility: hidden;
            }
        }
        .textoQuienes {
            width: 90%;
        }
        .imagenQuienes {
            width: 50%;
        }
        .nuestrosClientes {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "opinionUno"
                "opinionDos"
                "opinionTres";
            margin-bottom: 40px;
            .opinionUno {
                @include opiniones;
                grid-area: opinionUno;
                margin-bottom: 20px;
            }
            .opinionDos {
                @include opiniones;
                grid-area: opinionDos;
                margin-bottom: 20px;
            }
            .opinionTres {
                @include opiniones;
                grid-area: opinionTres;
            }
            p {
                padding: 10px;
                margin: 5px;
            }
            .rolling {
                width: 200px;
                border: none;
                border-radius: 2%;
                padding: 20px;
                margin: 10px;
                padding-top: 40px;
            }
            .emetres {
                width: 150px;
                border: none;
                border-radius: 50%;
                padding: 20px;
                margin: 10px;
                margin-top: 30px;
            }
            .amtae {
                width: 180px;
                border: none;
                border-radius: 0%;
                padding: 20px;
                margin: 10px;
                margin-top: 75px;
                margin-bottom: 50px;
            }
        }
        .seccionCert {
            background-color: $bordo;
            min-width: 99%;
            align-items: center;
            .textoCert {
                width: 85%;
                margin-left: 10px;
            }
            .logosCert {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                .certificacionMeta {
                    width: 100px;
                    padding: 20px;
                    padding-left: 20px;
                    margin: 10px;
                    margin-bottom: 40px;
                }
                .certificacionGoogle {
                    width: 100px;
                    padding: 20px;
                    margin: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .tituloServicios {
        height: 200px;
        min-width: 100%;
        justify-content: center;
        padding-top: 20px;

        .flechaAbajo {
            width: 80px;
        }
    }
    .nuestrosServicios {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        gap: 0px 0px;
        grid-template-areas:
            "textoConsultoria"
            "consultoria"
            "textoRedes "
            "redesSociales"
            "textoDiseño "
            "diseñoWeb"
            "textoMailing"
            "emailing";
        .consultoria {
            margin-top: 0px;
            padding-top: 0px;
            width: 90%;
        }
        .textoConsultoria,
        .textoRedes,
        .textoDiseño,
        .textoMailing {
            align-items: center;
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }
        .diseñoWeb,
        .emailing,
        .redesSociales {
            width: 50%;
            margin: 0 auto;
        }
        p {
            width: 90%;
            margin: 0 auto;
        }
        img {
            margin-left: 0;
            width: 70%;
        }
        .imagenServicio {
            width: 90%;
            padding-left: 0;
            padding-right: 0;
        }
        h2 {
            margin-top: 20px;
        }
    }
    .nuestrosTrabajos {
        height: 280px;
        min-width: 100%;
    }
    .hombreTrabajos {
        width: 50%;
    }
    .clientes {
        .trabajoCliente {
            width: 90%;
            margin: 20px auto;
            margin-left: auto;
            margin-right: auto;
        }
        .logoCliente{
            width: 40%;
            margin: 0 auto;
        }
        .logoClienteDos,
        .logoClienteTres {
            width: 30%;
            margin: 0 auto;
        }
        .clienteUno,
        .clienteDos,
        .clienteTres {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    .bannerBlog {
        display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        .imagenBlog {
            width: 30%;
            margin: 0px auto;
            margin-left: auto;
            margin-right: auto;
        }
        .tituloBlog {
            margin-top: 0px;
            margin-right: 10px;
            padding: 0;
        }
        .textoBlog {
            width: 85%;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .notas {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 10px;
        grid-template-areas:
            "notaUno"
            "notaDos";
        .notaUno,
        .notaDos {
            width: 250px;
            margin: 0px;
            .imagenNota{
                width: 247px;
            }
        }
    }
    .cuerpo {
        display: flex;
        align-items: center;
        text-align: center;
        .imagenFormulario {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        .tituloFormulario {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.5rem;
            text-align: center;
            position: relative;
        }
        .textoFormulario {
            width: 80%;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
        }
        .formularioContacto {       
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            margin-left: 0px;
            margin-bottom: 10px;
        }
        .form-floating {
            width: 300px;
            margin-top: 15px;
            position: relative;
            margin-right: 18px;
        }
        .form-select {
            width: 306px;
            position: relative;
            margin-right: 5px;
        }
        #formGroupExampleInput3 {
            margin-left: 9px;
            margin-bottom: 0px;
            position: relative;
        }
        .form-control {
            width: 300px;
            position: relative;
        }
    }
    footer {
        height: 30px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 0px 0px;
        grid-template-areas:
            "tituloFooter tituloFooter logoFooter"
            "contactoTelefono telefono logoFooter"
            "contactoMail mail logoFooter"
            "redes redes redes";
        .tituloFooter {
            grid-area: tituloFooter;
            padding: 20px;
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 60px;
        }
        .contactoTelefono {
            grid-area: contactoTelefono;
            display: flex;
            align-content: flex-start;
            width: 20px;
            height: 20px;
            padding-left: 60px;
        }
        .telefono {
            grid-area: telefono;
            padding-left: 10px;
        }
        .contactoMail {
            grid-area: contactoMail;
            width: 20px;
            height: 20px;
            padding-left: 60px;
            padding-top: 10px;
            padding-bottom: 30px;
        }
        .mail {
            grid-area: mail;
            padding-top: 10px;
            padding-left: 10px;
        }
        .logoFooter {
            grid-area: logoFooter;
            width: 100px;
            margin: 10px;
            padding-top: 20px;
            padding-left: 30px;
        }
        .redes {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0px;
            padding-bottom: 30px;
            .iconos {
                width: 50px;
                padding: 5px;
                margin: 10px;
            }
        }
    }
    .contactoServicios {
        min-width: 99%;
        height: 200px;
        .trabajemosJuntos {
            margin-bottom: 20px;
        }
        .contacto {
            width: 150px;
            height: 50px;
        }
    }
}