@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }
    .nuestrosClientes {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "opinionUno"
            "opinionDos"
            "opinionTres";
        .opinionUno, .opinionDos {
            margin-bottom: 20px;
        }
    }
    .nuestrosServicios {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        gap: 0px 0px;
        grid-template-areas:
            "textoConsultoria" 
            "consultoria"
            "textoRedes"
            "redesSociales"
            "textoDiseño "
            "diseñoWeb"
            "textoMailing"
            "emailing";
        text-align: center;
        align-content: center;
        flex-direction: column;
        img {
            margin: 10px;
            padding: 10px;
            margin-left: 100px;
        }
        p {
            margin: 10px;
            padding: 10px;
        }
    }
    .textoCert {
        width: 300px;
        padding: 10px;
        margin-left: 80px;
    }
    .seccionContacto {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "hombre textoContacto"
            "hombre botonUno";    
        background-size: contain;
        .mujer {
            visibility: hidden;
        }
        .hombre {
            margin-left: 250px;
        }
        .textoContacto {
            width: 350px;
            margin-top: 30px;
        }
    }
    .clientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        .clienteUno, .clienteDos, .clienteTres {
            display: flex;
            flex-direction: column; 
            align-items: center;
            .trabajoCliente, .trabajoClienteDos, .trabajoClienteTres {
                width: 600px;
                margin: 20px;
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
    .bannerBlog {
        .imagenBlog {
            width: 200px;
            margin: 30px;
            margin-left: 50px;
        }
        .tituloBlog {
            grid-area: tituloBlog;
            padding: 30px;
            margin-top: 60px;
            margin-right: 300px;
        }
        .textoBlog {
            grid-area: textoBlog;
            width: 400px;
            margin-bottom: 70px;
        }
    }
    .notas {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-template-areas:
            "notaUno"
            "notaDos";
    }
    .cuerpo {
        background-color: $bordo;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1;
        grid-template-rows: auto auto auto auto;
        gap: 0px;
        grid-template-areas:
            "imagenFormulario"
            "tituloFormulario"
            "textoFormulario" 
            "formularioContacto";
        .textoFormulario {
            display: flex;
            align-items: center;
            justify-self: center;
            margin-bottom: 30px;
        }
        .formularioContacto {
            margin-left: 100px;
            justify-self: center;
            margin-bottom: 30px;
        }
    }
    footer {
        height: 30px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, 1fr);
        gap: 0px 0px;
        grid-template-areas:
            "tituloFooter tituloFooter logoFooter"
            "contactoTelefono telefono logoFooter"
            "contactoMail mail logoFooter"
            "redes redes redes";
        .tituloFooter {
            grid-area: tituloFooter;
            padding: 20px;
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 60px;
        }
        .contactoTelefono {
            grid-area: contactoTelefono;
            display: flex;
            align-content: flex-start;
            width: 20px;
            height: 20px;
            padding-left: 60px;
        }
        .telefono {
            grid-area: telefono;
            padding-left: 10px;
        }
        .contactoMail {
            grid-area: contactoMail;
            width: 20px;
            height: 20px;
            padding-left: 60px;
            padding-top: 10px;
            padding-bottom: 30px;
        }
        .mail {
            grid-area: mail;
            padding-top: 10px;
            padding-left: 10px;
        }
        .logoFooter {
            grid-area: logoFooter;
            width: 100px;
            margin: 10px;
            padding-top: 20px;
            padding-left: 30px;
        }
        .redes {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0px;
            padding-bottom: 30px;
            .iconos {
                width: 50px;
                padding: 5px;
                margin: 10px;
            }
        }
    }
}