@import "body";
@import "header";
@import"main";
@import "footer";
$vista: desktop;

body {
    @if $vista ==mobile {
        @media only screen and (max-width:767px) {
            header {
                position: relative;
            }

            h1 {
                font-size: 1.3rem;
            }

            .nuestrosClientes {
                grid-auto-columns: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    "opinionUno"
                    "opinionDos"
                    "opinionTres";
            }

            .opinionUno {
                margin-bottom: 20px;
            }

            .opinionDos {
                margin-bottom: 20px;
            }

            .nuestrosServicios {
                grid-auto-columns: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(8, auto);
                gap: 0px 0px;
                grid-template-areas:
                    "textoConsultoria"
                    "consultoria"
                    "textoRedes "
                    "redesSociales"
                    "textoDiseño "
                    "diseñoWeb"
                    "textoMailing"
                    "emailing";
                text-align: center;
                align-content: center;
                flex-direction: column;
            }

            .nuestrosServicios img {
                margin: 10px;
                padding: 10px;
                margin-left: 100px;
            }

            .nuestrosServicios p {
                margin: 10px;
                padding: 10px;
            }

            .textoCert {
                width: 500px;
                padding: 10px;
                margin-left: 80px;
            }

            .seccionContacto {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "hombre textoContacto"
                    "hombre botonUno";
                background-size: contain;
            }

            .mujer {
                visibility: hidden;
            }

            .hombre {
                margin-left: 250px;
            }

            .textoContacto {
                width: 350px;
                margin-top: 30px;
            }
        }
    }

}
